# Same as in .eslintignore
/build
/coverage
/dist
/lib-esm
/lib
/node_modules
/playwright/.cache
/playwright-report

# Specific to .prettierignore
/CHANGELOG.md
/package-lock.json
/stories/data
/test-data
